<form action="/auth" method="POST">
  <input type="email" name="email" placeholder="Email" novalidate>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Create Account">
</form>
